# Local development (Turso CLI file or libsql local file)
# DATABASE_URL=file:./drizzle/db.sqlite
# For production Turso:
# DATABASE_URL=libsql://your-db.turso.io
# TURSO_AUTH_TOKEN=your-auth-token

DATABASE_URL=libsql://colombia-en-datos-gafemoyano.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzg0NTY4MTcsImlkIjoiMDE5ZTE0M2YtNWEwMS03OGJjLWFiZjQtM2M0NWJkNzkyNjA1IiwicmlkIjoiMTVkZDhmYTUtNmIxMC00YzQwLWIwNDMtZjg2MDRjZWZlNjllIn0.U1EeAhCAwL4jYRAaYZJ0vgbXhjHDTHxJhhx9RzULgl0YlfB5hUzluJQTkUml_FwB0YehJeBcxry4VJn8TnRIAw

DUCKDB_PATH=./data
