DATABASE_URL=./drizzle/db.sqlite
DUCKDB_PATH=../data
DATABASE_URL=libsql://pambiblioteca-gafemoyano.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3Njg4NjIzMTIsImlkIjoiYjcxMThhZmYtZGZlYi00N2I5LWE2MDAtM2YzYjIwNzJhNmYwIiwicmlkIjoiZDk1MGRmNjAtOGQ0MS00MjE1LWJiNTEtNDY1ZGRlNTA3MGVhIn0.dEK1eW6mXyoNuD95K16TaCVYc8p3KTvEVbTWFKZFidt0N6SgY3QxKGSeSXZI-5Qox7lN4av8ZyxcY8dvOph-CQ
